@import "tailwindcss";

:root {
  --primary-color: #09b3a5;
  --secondary-color: #ffffff;
  --bg-blueOne: #b9e6fd;
  --bg-blueSecond: #d7f2fb;
  view-transition-name: root;

}

.react-tel-input {
  width: 100% !important;
  max-width: 100% !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 70px;
  padding-right: 12px;
  height: 48px;
  border-radius: 0.75rem !important;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
}

.react-tel-input .flag-dropdown {
  height: 35px;
  border-radius: 0.75rem 0 0 0.75rem !important;
  border-right: none;
}

.change-size-transition {
  animation-name: change-size;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}